* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #8e89c7;
  color: #fff;
}
.hero {
  padding-top: 140px;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  align-items: center;
  padding: 14px 40px;
  border-bottom: 1px solid #000;
  background: #8e89c7;
}

.logo img {
  height: 42px;
}

/* MENU CENTRAL */
.menu {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
   margin-left: 40px; /* aumenta esse valor para mover mais para a direita */
}

.menu a:hover {
  color: #4da3ff;
}

/* USER */
.user-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-btn {
  background: transparent;
  border: 1px solid #6f4cff;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #6f4cff;
}

.cart {
  font-size: 28px;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 100px 40px;
}

.hero h1 {
  font-size: 56px;
}

.hero p {
  margin: 14px 0 20px;
}

.hero button {
  background: #7d4cff;
  border: none;
  padding: 14px 30px;
  color: #fff;
  cursor: pointer;
}

/* PRODUTOS */
.products {
  padding: 60px 40px;
}

.products h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.product-card {
  background: #fff;
  color: #000;
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 16px;
}

.product-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.product-card h3 {
  margin: 12px 0 6px;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  background: #6f4cff;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

/* CARRINHO */
.cart-panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 340px;
  height: 100%;
  background: #fff;
  color: #000;
  padding: 24px;
  transition: 0.3s ease;
  z-index: 1000;
}

.cart-panel.active {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close-cart {
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.overlay.active {
  display: block;
}
